body {
    background-color: #edd2cb;
    text-align: center;
    font-family: "Audiowide", sans-serif;
    color: #543c52;
    min-height: 100vh;
    margin-bottom: 30px;
}

textarea {
    background: #f1e8e6;
    resize: vertical;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    padding: 4px;
    font-family: "Audiowide", sans-serif;
    max-width: 65%;
}


input[type=text] {
    background-color: #f1e8e6;

}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #543c52;
    border: none;
    color: white;
    padding: 4px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
    height: 30px;
    margin-top: 4px;
    margin-bottom: 4px;
}

input:hover {
    background-color: #af9b96 ;
}

.formpost p{
    
   margin: 0;
}

br{
    height: 23px;
}


h3 {
    font-size: 15px;
}

.logo {
    text-align: center;
    color: #f1e8e6;
    font-size: 30px;
    padding: 30px;
}

b {
    text-emphasis: none;
    text-decoration: none;

}

.kutflexnav1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar2 {
    color: #edd2cb;
    width: 60%;
    min-width: 500px;
    border: #f1e8e6;
    border-style: solid;
    border-radius: 25px;
    border-width: 1px;

}

.flex-container-nav3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 30px;
    padding: 4px;
    border-radius: 25px;
    margin: 3px;
}

.navpadding4 {
    padding: 2px;
    border-radius: 20px;
    opacity: 1;
    transition: opacity 1s ease-in-out;

}

a {
    text-decoration: none;
    text-decoration-color: none;
    color: #543c52;
}

.navbar2 a {

    transition: all 0.1s ease-in;
    border-color: transparent;
    border-radius: 25px;
    border-style: solid;
    max-height: 50%;
    margin-top: -3px;
    margin-bottom: -3px;
    padding: 3px;
    border-width: 1px;
}

.navbar2 a:hover {
    border-color: #543c52;
    background-image: radial-gradient(#f55951, #edd2cb);


}

.infousr {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: auto;
    padding-left: 10px;
    padding: 4px;
    height: 30px;
}

.pf {
    height: inherit;
}

.userpagepf {
    padding: 10px;
}

.pfandname {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding-top: 5px;
    
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}

.post-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background-color: #543c52;
    border-radius: 25px;
    margin: 1px;
    color: #edd2cb;
    outline-color: #f1e8e6;
    outline-style: solid;
    outline-width: 1px;
    padding: 3px;
    margin-bottom: 10px;
    width: 40%;
    min-width: 400px;
    height: 30px;
    max-width: 750px;
}

li {
    background-color: #f55951;
}

.indexflex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formpost {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1%;
    height: 40px;
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
    width: 30%;
    min-width: 400px;
    height: 30px;
    max-width: 750px;
    padding-top: 38px;
    border-color: #edd2cb;
}



.uname {
    display: flex;
    background-color: #edd2cb;
    color: #543c52;
    width: auto;
    justify-content: center;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
    transition: padding 0.1s ease-in-out;



}

.uname:hover {
    padding-left: 50%;
    padding-right: 50%;
    display: flex;
    flex-direction: row;
}

.says {
    display: flex;
    background-color: #f55951;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    align-items: center;
    padding-right: 3px;
    padding-left: 2px;


}

.troep {
    border-radius: 5px;
    background-color: #edd2cb;
    color: #543c52;
    width: auto;
    min-width: 30%;
    max-width: 60%;
    margin-top: 1%;
    padding: 2%;
    padding-bottom: 7px;
    margin-bottom: 3px;
}


.next-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}


.next-prev a {
    border-style: solid;
    border-width: 2px;
    border-color:transparent;
    padding: 3px;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
}

.next-prev a:hover {
    border-color: #543c52;
    border-radius: 20px;
}

.about {
    margin: auto;
    color: #543c52;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    background-color: #edd2cb;    
    width: 30%;
    min-width: 400px;
    max-width: 750px;
    margin-top: 10px;
    margin-bottom: 10px;

}


#grad1 {

    background-color: #f55951;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom, #543c52, #f55951);
}

#grad2 {
    height: 100%;
    background-color: transparent;
    /* For browsers that do not support gradients */
    background-image: linear-gradient( 	rgb(84, 60, 82, 1),	rgb(245, 89, 81, 0));
}

#grad3 {
    height: 100%;
    background-color: #f55951;
    /* For browsers that do not support gradients */
    background-image: radial-gradient(#f55951, #543c52);
}

#grad4 {
    height: 100%;
    background-color: #f55951;
    /* For browsers that do not support gradients */
    background-image: radial-gradient(#f55951, #543c52);
}

#grad5 {
    height: 100%;
    background-color: #f55951;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom, #543c52, #f55951);
}