<!DOCTYPE html>
<html>
	<head>
        {% if title %}
        <title>{{ title }} </title>
        {% else %}
        <title>Welcome to hier</title>
        {% endif %}

		<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='576-5761078_transparent-clipart-poop-emoji-coco-png-4267463466.png' )}}">
	</head>
	
    <body id="grad1">
        <div class="kutflexnav1">
            <div id="grad4" class="navbar2">
                <div class="flex-container-nav3">
                    <div class="navpadding4"><a class="anav" href="{{ url_for('index') }}">Home</a></div>
                    <div class="navpadding4"><a href="{{ url_for('explore') }}">Explore</a></div>
                    {% if current_user.is_anonymous %}
                        <div class="navpadding4"><a href="{{ url_for('login') }}">Login</a></div>
                    {% else %}
                        <div class="navpadding4"><a href="{{ url_for('user', username=current_user.username) }}">Profile</a></div>
                        <div class="navpadding4"><a href="{{ url_for('logout') }}">Logout</a></div>
                     {% endif %}
                </div>
            </div>
        </div>


        {% with messages = get_flashed_messages() %}
        {% if messages %}
       <!--- <div class="post"> -->
        <div class="post">
            {% for message in messages %}
            <div class="post"> {{ message }}</div>
            {% endfor %}
        </div>
        <!--</div>-->
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
