{% extends "base.html" %}

{% block content %}
	<div class="logo">Welcome {{ current_user.username }}</div>
	<!--{% if form %}-->
	<div class="indexflex">
		<div id="grad1" class="formpost">
		<form action="" method="post">
			{{ form.hidden_tag() }}
			<p>
				{{ form.post.lable }}<br>
				{{ form.post(cols=32, rows=4) }}<br>
				{% for error in form.post.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</p>
			<p>{{ form.submit() }}</p>
		</form>
		</div>
		<!--{% endif %}-->
		<div class="post">
		{% for post in posts %}
		{% include '_post.html' %}
		<!--<div><p>{{ post.author.username}} says: <b> {{ post.body }} </b></p></div>-->
		{% endfor %}
	</div>
	</div>
	<div class="next-prev">
	{% if prev_url %}
	<a href="{{ prev_url }}">Newer Posts</a>
	{% endif %}
	{% if next_url %}
	<a href="{{ next_url }}">Older posts</a>
	{% endif %}
	</div>
{% endblock %}