{% extends "base.html" %}

{% block content %}

    <div class="about">        
        <div class="pfandname">
            <div class="pf"><img class="userpagepf" src="{{ user.avatar(64) }}"></div>  
            <h1>{{ user.username }}</h1>
        </div>

        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
        {% if user.last_seen %}<p>Last seen on: {{ user.last_seen.strftime('%a %d %b %Y, %I:%M%p') }}</p>{% endif %}
        <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
        {% if user == current_user %}
        <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
        {% elif not current_user.is_following(user) %}
        <p>
            <form action="{{ url_for('follow', username=user.username) }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value='Follow') }}
            </form>
        </p>
        {% else %}
        <p>
            <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value='Unfollow') }}
            </form>
        </p>
        {% endif %}
        
    </div>

    <div class="post">
        {% for post in posts %}
            {% include '_post.html' %}
        {% endfor %}
    </div>

<div class="next-prev">
    <div class="prev">
        {% if prev_url %}
        <a href="{{ prev_url }}">Newer Posts</a>
        {% endif %}
    </div>
        {% if next_url %}
    <div class="next">
        <a href="{{ next_url }}">Older posts</a>
        {% endif %}
    </div>
</div>	
{% endblock %}
</div>